#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  width: 90vw;
  max-width: 914px;
  height: 90vh;
  max-height: 412px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0;
  padding: 0;
  gap: 1%;
}

.button {
  display: block;
  width: 100%;
  height: 11%;
  background-color: #dc3232;
  color: white;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.product-text {
  border: 2px dashed red;
  margin: 0;
  width: 100%;
  height: 65%;
}

h3 {
  border: 2px dashed red;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  height: 10%;
}
.condiments-list {
  margin: 0;
  width: 90%;
  height: 50%;
  max-height: 50%;
  padding-left: 5%;
  padding-top: 0;

  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.condiment {
  border: 2px dashed red;
  max-width: 90%;
  height: 95%;
  padding: 0;
  margin: 0;
  background-image: url(images/napkin.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.product-tray {
  margin: 0;
  width: 90%;
  height:99%;
  max-height: 412px;
  border: 3px dashed darkblue;

  padding: 12% 15%;

  background-image: url(/images/tray-test2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  align-items: start;
}

.product {
  border: 2px dashed red;
  margin: 0;
  
  max-width: 90%;
  height: 90%;
  padding: 0;
  margin: 0;
  background-image: url(images/bigmaestro-or.webp);
  background-size: 100%;
  background-repeat: no-repeat;
}


